/* Base */
:root {
  --color-white: #fff;
  --color-main-first-card: #5c3c35;
  --color-main-second-card: #6e171d;
  --color-main-third-card: #48322a;
  --color-vertical: rgba(255, 255, 255, 0.5);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a,
*::before,
*::after {
  display: inline-block;
}

html,
body {
  min-width: 320px;
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--color-white);
  background-color: var(--color-white);
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* Container */
[class*="__container"] {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 635px) {
  [class*="__container"] {
    max-width: 635px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

/* @media (min-width: 768px) {
  [class*="__container"] {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 30px;
  }
} */

@media (min-width: 1280px) {
  [class*="__container"] {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 30px;
  }
}

.first-color {
  color: var(--color-main-first-card);
}

.second-color {
  color: var(--color-main-second-card);
}

/* Main styles */

.fashion {
  padding: 50px 0;
  margin: 0 auto;
  background-color: var(--color-white);
}

.swiper-slide {
  max-width: 595px;
  /* border: 1px solid black; */
}

.fashion__img1 {
  position: absolute;
  bottom: 65px;
  width: 290px;
  height: 657px;
  background-image: url("../img/fashion-1-448.webp");
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

@media (min-width: 635px) {
  .fashion__img1 {
    right: 72px;
    width: 448px;
  }
}

.fashion__img2 {
  position: absolute;
  bottom: 65px;
  width: 290px;
  height: 657px;
  background-image: url("../img/fashion-2-448.webp");
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

@media (min-width: 635px) {
  .fashion__img2 {
    right: 72px;
    width: 448px;
  }
}

.fashion__img3 {
  position: absolute;
  bottom: 65px;
  width: 290px;
  height: 657px;
  background-image: url("../img/fashion-3-448.webp");
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

@media (min-width: 635px) {
  .fashion__img3 {
    right: 72px;
    width: 448px;
  }
}

.discount {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-main-first-card);
  gap: 20px;
  margin-bottom: 55px;
}

@media (min-width: 635px) {
  .discount {
    gap: 36px;
    margin-left: 148px;
    margin-bottom: 55px;
  }
}

.discount::before,
.discount::after {
  content: "";
  position: absolute;
  display: block;
  width: 11px;
  height: 11px;
  background-color: var(--color-main-first-card);
  border-radius: 50%;
}

.discount::before {
  top: 9px;
  right: 12px;
}

@media (min-width: 635px) {
  .discount::before {
    top: 17px;
    right: 33px;
  }
}

.discount::after {
  right: 12px;
  bottom: 8px;
}

@media (min-width: 635px) {
  .discount::after {
    bottom: 17px;
    right: 33px;
  }
}

.discount div {
  width: 11px;
  height: 11px;
  background-color: var(--color-main-first-card);
  border-radius: 50%;
}

.discount-second {
  color: var(--color-main-second-card);
}

.discount-second::before,
.discount-second::after {
  background-color: var(--color-main-second-card);
}

.discount-second div {
  background-color: var(--color-main-second-card);
}

.discount-third {
  color: var(--color-main-third-card);
}

.discount-third::before,
.discount-third::after {
  background-color: var(--color-main-third-card);
}

.discount-third div {
  background-color: var(--color-main-third-card);
}

.discount__text {
  font-weight: 600;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.28em;
}

@media (min-width: 635px) {
  .discount__text {
    letter-spacing: 0.58em;
  }
}

.discount__percent {
  font-size: 45px;
  font-weight: 900;
}

@media (min-width: 635px) {
  .discount__percent {
    font-size: 65px;
  }
}

.fashion__line-box {
  position: absolute;
  top: 398px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: -2;
}

.fashion__bg-line {
  width: 100%;
  height: 41px;
}

.first-line {
  background-color: var(--color-main-first-card);
}

.second-line {
  background-color: var(--color-main-second-card);
}

.third-line {
  background-color: var(--color-main-third-card);
}

.fashion__bg {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 270px;
  height: 655px;
  background-image: url("../img/bg-fashion.png");
  background-repeat: no-repeat;
  z-index: -3;
}

@media (min-width: 635px) {
  .fashion__bg {
    width: 478px;
    height: 655px;
    background-size: 478px 655px;
  }
}

.fashion__title {
  width: 275px;
  text-transform: uppercase;
  margin-bottom: 23px;
}

@media (min-width: 635px) {
  .fashion__title {
    margin-left: 107px;
  }
}

.fashion__title img {
  width: 275px;
  margin-left: 6px;
}

.fashion__sub-title {
  font-size: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 366px;
  margin-left: 6px;
}

@media (min-width: 635px) {
  .fashion__sub-title {
    margin-left: 107px;
    margin-bottom: 396px;
  }
}

.fashion__description {
  position: relative;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  margin-left: 20px;
}

@media (min-width: 635px) {
  .fashion__description {
    margin-left: 107px;
  }
}

.first__description {
  margin-left: 40px;
  margin-bottom: 4px;
}

@media (min-width: 635px) {
  .first__description {
    margin-left: 133px;
  }
}

.first__description::before {
  content: "";
  position: absolute;
  top: 40%;
  left: -14px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fff;
}

.second__description {
  width: 218px;
  margin-bottom: 14px;
}

.fashion__link {
  margin-left: 20px;
  margin-bottom: 76px;
}

@media (min-width: 635px) {
  .fashion__link {
    margin-left: 114px;
  }
}

.fashion__vertical-text {
  position: absolute;
  bottom: 120px;
  right: 12px;
  height: 420px;
  font-size: 14px;
  color: var(--color-vertical);
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
}

@media (min-width: 635px) {
  .fashion__vertical-text {
    right: 95px;
  }
}

.fashion__bottom-box {
  position: relative;
  display: flex;
  gap: 20px;
}

@media (min-width: 635px) {
  .fashion__bottom-box {
  }
}

.fashion__bottom-text {
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.33em;
  text-transform: uppercase;
  color: var(--color-main-first-card);
}

@media (min-width: 635px) {
  .fashion__bottom-text {
    margin-left: 20px;
  }
}

@media (min-width: 635px) {
  .fashion__bottom-text {
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0.43em;
    text-transform: uppercase;
    color: var(--color-main-first-card);
    margin-left: 165px;
  }
}

.fashion__bottom-box::before,
.fashion__bottom-box::after {
  content: "";
  position: absolute;
  display: block;
  width: 11px;
  height: 11px;
  background-color: var(--color-main-first-card);
  border-radius: 50%;
}

.fashion__bottom-box::before {
  left: 0;
  bottom: 50px;
}

@media (min-width: 635px) {
  .fashion__bottom-box::before {
    left: 32px;
  }
}

.fashion__bottom-box::after {
  left: 0;
  bottom: 24px;
}

@media (min-width: 635px) {
  .fashion__bottom-box::after {
    left: 32px;
    bottom: 21px;
  }
}

.fashion__bottom-box div {
  width: 11px;
  height: 11px;
  background-color: var(--color-main-first-card);
  border-radius: 50%;
  margin-bottom: 37px;
}

@media (min-width: 635px) {
  .fashion__bottom-box div {
    margin-left: 32px;
  }
}

.fashion__bottom-box-second::before,
.fashion__bottom-box-second::after {
  background-color: var(--color-main-second-card);
}

.fashion__bottom-text-second {
  color: var(--color-main-second-card);
}

.fashion__bottom-box-second div {
  background-color: var(--color-main-second-card);
}

.fashion__bottom-box-third::before,
.fashion__bottom-box-third::after {
  background-color: var(--color-main-third-card);
}

.fashion__bottom-text-third {
  color: var(--color-main-third-card);
}

.fashion__bottom-box-third div {
  background-color: var(--color-main-third-card);
}

.fashion__swiper-pagination {
  position: relative;
  margin-top: 10px;
}

@media (min-width: 635px) {
  .fashion__swiper-pagination {
    margin-top: 35px;
  }
}

.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background-color: #6e171d;
}
